@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Font */
@layer {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
}

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
 color: white;
  background: white;

}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Additonal custom styles  */

.max-width {
  @apply max-w-[1280px] mx-auto px-4;
}
section {
  scroll-margin-top: 80px; /* Adjust this to match your navbar height */
}


/* navbar menu */

.navbar {
  width: 23px;
  height: 1.6px;
  background: black;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

.navbar::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 1.6px;
  background: black;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-7px);
}

.navbar::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 1.6px;
  background: black;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  transform: translateY(7px);
}

.active-navbar {
  width: 23px;
  height: 1.6px;
  background: transparent;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

.active-navbar::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 1.6px;
  background: rgb(56, 236, 1);
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  transform: rotate(-45deg);
}

.active-navbar::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 1.6px;
  background: rgb(56, 236, 1);
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  transform: rotate(45deg);
}
@media (max-width: 954px) {
  .himg{
    display: none;
  }
}

@media (768px >= width) {
  .nav-links {
    position: absolute;
    flex-direction: column;
    top: 64.5px;
    right: 0;
    width: 100%;
    background: white;
    /* transform: translateX(100%); */
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    height: 0;
  }
  .nab{
    color: black;
  }
  .himg{
    display: none;
  }
  .nat {
    margin-top: 40px;
  }
  .side-nav {
    position: absolute;
    width: 100%;
    height: 50vh;
    right: 0;
    top: 64.5px;
    background: white;
    color: rgb(175, 12, 12);
    /* transform: translateX(0%); */
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  }

  .side-nav li,
  .nav-links li {
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
  }
}

@media (min-width: 955px){
  .hmb{
    display: none;
  }
}

@media (min-width:815px){
  .hmb{
    margin-left: 60px;
  }
}

.fade-gradient {
  background-image : radial-gradient(circle, #030014, #03001443 70%, #03001443)
}

/* swiper js custom css  */
.swiper-button-prev,
.swiper-button-next {

    color:white !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 24px !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}